%div{class: "col-sm-#{LocationsHelper::LOCATION_WIDTH}"}
  .panel.location{class: location.open? ? 'panel-success' : 'panel-danger'}
    .panel-heading
      %h2.panel-title
        - if location.description
          %abbr{title: location.description}= location.name
        - else
          = location.name
    .panel-body
      - if location.hours[0] || location.hours[1]
        %dl
          %dt Weekdays
          %dd{class: location.hours[0] ? 'text-success' : 'text-danger'}= hours_for location.hours[0]

          %dt Weekends
          %dd{class: location.hours[1] ? 'text-success' : 'text-danger'}= hours_for location.hours[1]
      - else
        %span.text-danger always closed
