%div{class: "col-sm-#{LocationsHelper::LOCATION_WIDTH}"}
  .panel.location{class: location.open? ? 'panel-success' : 'panel-danger'}
    .panel-heading
      %h2.panel-title
        - if location.description
          %abbr{title: location.description}= location.name
        - else
          = location.name
    .panel-body
      - if location.weekdays? || location.weekends?
        %dl
          %dt Weekdays
          %dd{class: location.weekdays? ? 'text-success' : 'text-danger'}= hours_for location.weekdays

          %dt Weekends
          %dd{class: location.weekends? ? 'text-success' : 'text-danger'}= hours_for location.weekends
      - else
        %span.text-danger always closed
